/* style.css */

body {
    font-family: Courier, monospace;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.container {
    text-align: center;
}

#clikcat, #clikcat2  {
    width: 100%;
    max-width: 10000px; /* Limiter la taille de l'image */
    cursor: pointer;
}

h1 {
    font-size: 4em;
}

p {
    font-size: 2em;
}

/* Conteneur principal */
.container {
    text-align: center;
    margin: 20px;
}

/* Conteneur des deux images */
.image-container {
    display: flex;
    justify-content: center; /* Aligne les blocs horizontalement */
    gap: 20px; /* Espace entre les blocs d'images */
}

/* Bloc contenant chaque image */
.image-block {
    text-align: center;
}

/* Optionnel : vous pouvez ajuster la taille des images ici */
#clikcat, #clikcat2 {
    width: 150px; /* Ajustez selon vos besoins */
    height: auto;
}
