/* style.css */
body {
    font-family: Courier, monospace;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}
.container {
    text-align: center;
}
#clikcat, #clikcat2  {
    width: 100%;
    max-width: 10000px; /* Limiter la taille de l'image */
    cursor: pointer;
}
h1 {
    position: absolute;
    top: 20px; /* Ajustez la position verticale du texte */
    left: 50%;
    transform: translateX(-50%); /* Centrer horizontalement */
    color: #fff7cd;
    font-size: 100px; /* Ajustez la taille du texte */
    z-index: 3; /* Assurez-vous que ce texte est devant les images */
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 2); /* Ombre du texte pour plus de contraste */
}
p1 {
    position: absolute;
    font-weight: bold;
    top: 75%; /* Ajustez la position verticale du texte */
    left: 25%;
    transform: translateX(-50%); /* Centrer horizontalement */
    color: #fff7cd;
    font-size: 120px; /* Ajustez la taille du texte */
    z-index: 3; /* Assurez-vous que ce texte est devant les images */
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 2); /* Ombre du texte pour plus de contraste */
}
p2 {
    position: absolute;
    font-weight: bold;
    top: 90%; /* Ajustez la position verticale du texte */
    left: 25%;
    transform: translateX(-50%); /* Centrer horizontalement */
    color: #fff7cd;
    font-size: 40px; /* Ajustez la taille du texte */
    z-index: 3; /* Assurez-vous que ce texte est devant les images */
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7); /* Ombre du texte pour plus de contraste */
}
p3 {
    position: absolute;
    font-weight: bold;
    top: 75%; /* Ajustez la position verticale du texte */
    left: 75%;
    transform: translateX(-50%); /* Centrer horizontalement */
    color: #fff7cd;
    font-size: 120px; /* Ajustez la taille du texte */
    z-index: 3; /* Assurez-vous que ce texte est devant les images */
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 2); /* Ombre du texte pour plus de contraste */
}
p4 {
    position: absolute;
    font-weight: bold;
    top: 90%; /* Ajustez la position verticale du texte */
    left: 75%;
    transform: translateX(-50%); /* Centrer horizontalement */
    color: #fff7cd;
    font-size: 40px; /* Ajustez la taille du texte */
    z-index: 3; /* Assurez-vous que ce texte est devant les images */
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7); /* Ombre du texte pour plus de contraste */
}

/* Conteneur principal */
.container {
    text-align: center;
    margin: 20px;
}
/* Conteneur des deux images */
.image-container {
    display: flex;
    justify-content: center; /* Aligne les blocs horizontalement */
    gap: 20px; /* Espace entre les blocs d'images */
}

/* Bloc contenant chaque image */
.image-block {
    text-align: center;
}

/* Optionnel : vous pouvez ajuster la taille des images ici */
#clikcat, #clikcat2 {
    width: 1000px; /* Ajustez selon vos besoins */
    height: auto;
}
